.breadcrumbs {
  margin-top: rem(16);
  margin-left: rem(20);

  @include mq(tab) {
    margin-left: rem(90);
}
}

.breadcrumbs ul {
}

.breadcrumbs li {
  display: inline-block;
  margin-right: rem(3);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  line-height: rem(19);
  letter-spacing: rem(1);
}

.breadcrumbs span {
  display: inline-block;
  margin-right: rem(3);
}
