.c-category {

}


.c-category__items {
  display: inline-block;
}

.c-category__item {
  display: inline-block;
  line-height: rem(23.2);
  letter-spacing: 0.02em;
  margin-bottom: rem(16);
  position: relative;

  &:first-child {
  padding: rem(3) rem(8) rem(4) rem(8);
    background: $text-color;
    color: $btn-color;
  }

  &:not(:first-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(-3);
    width: 100%;
    height: rem(1);
    background: #000000;

    @include mq(tab) {
      position: static;
    }
  }

  &:not(:last-child) {
    margin-right: rem(23);
  }

  a {
  }
}