.c-section-title__english {
    color: $section-english;
    font-size: rem(50);
    letter-spacing: rem(2);
    font-family: $font-family-sectionTitle;
    font-weight: 400;
    opacity: 0.27;

    @include mq(tab) {
        font-size: rem(110);
    }
}