<div class="l-footer p-footer">
  <div class="p-footer__contents">
    <div class="p-footer__logo">
      <a href="#">
        <img src="./images/common/logo-CodeUps.png" alt="codeups logo">
      </a>
    </div><!-- /.p-footer__log -->
    <nav class="p-footer__nav">
      <ul class="p-footer-nav__lists">
        <li class="p-footer-nav__list"><a href="#top">トップ</a></li><!-- /.p-footer-nav__list -->
        <li class="p-footer-nav__list"><a href="#news">お知らせ</a></li><!-- /.p-footer-nav__list -->
        <li class="p-footer-nav__list"><a href="#content">事業内容</a></li><!-- /.p-footer-nav__list -->
        <li class="p-footer-nav__list"><a href="#overview">企業概要</a></li><!-- /.p-footer-nav__list -->
        <li class="p-footer-nav__list"><a href="#blog%> "></a>ブログ</li><!-- /.p-footer-nav__list -->
        <li class="p-footer-nav__list"><a href="#contact">お問い合わせ</a></li><!-- /.p-footer-nav__list -->
      </ul><!-- /.p-footer-nav__lists -->
    </nav><!-- /.p-footer__nav -->
  </div><!-- /.p-footer__contents -->
  <div class="p-footer__copyright"> <small>
    &copy; 2021 CodeUps Inc.
  </small></div><!-- /.p-footer__copyright -->
</div>
