<div class="l-news__contents p-news__contents">
    <div class="p-news__date">
      <%- include('../parts/_c-news__date',{text:'2020.07.20'}) %>
    </div><!-- /p-news__tag -->
    <div class="p-news__tag">
      <%- include('../parts/_c-news__tag',{text:'お知らせ'}) %>
    </div><!-- /p-news__tag -->
    <div class="p-news__title">
      <%- include('../parts/_c-news__title-top',{title:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
    </div><!-- /p-news__text -->
  </div><!-- /p-news__contents -->