<header class="l-top-header p-top-header">
  <h1 class="p-header__title"><a href="index.html">CodeUps</a></h1>
  <!-- /.header__title -->
  <div class="p-burger__btn">
    <span class="p-bar p-bar-top"></span
    ><!-- /.p-bar p-bar- -->
    <span class="p-bar p-bar-mid"></span
    ><!-- /.p-bar p-bar- -->
    <span class="p-bar p-bar-bottom"></span
    ><!-- /.p-bar p-bar- -->
  </div>
  <!-- /.p-buger__btn -->
  <div class="p-header__burger-menu">
    <nav class="c-burger-menu">
      <ul class="c-burger-menu__items">
        <li class="c-burger-menu__item"><a href="#">トップ</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="news_yuichi.html">お知らせ</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="service_yoshitaka.html">事業内容</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="portfolio_yoshitaka.html">制作実績</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="about_yoshitaka.html">企業概要</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="blog_yoshitaka.html">ブログ</a></li>
        <!-- /.c-burger-menu__item -->
        <li class="c-burger-menu__item"><a href="contact_yuichi.html">お問い合わせ</a></li>
        <!-- /.c-burger-menu__item -->
      </ul>
      <!-- /.c-burger-menu__items -->
    </nav><!-- /.c-burger-menu -->
  </div>
  <!-- /.header__burger-menu -->
  <div class="p-header__nav c-nav">
    <ul class="c-nav__lists">
      <li class="c-nav__list"><a href="news_yuichi.html">お知らせ</a></li>
      <!-- /.c-nav__list -->
      <li class="c-nav__list"><a href="service_yoshitaka.html">事業内容</a></li>
      <!-- /.c-nav__list -->
      <li class="c-nav__list"><a href="portfolio_yoshitaka.html">制作実績</a></li>
      <!-- /.c-nav__list -->
      <li class="c-nav__list"><a href="about_yoshitaka.html">企業概要</a></li>
      <!-- /.c-nav__list -->
      <li class="c-nav__list"><a href="blog_yoshitaka.html">ブログ</a></li>
      <!-- /.c-nav__list -->
    </ul>
    <!-- /.nav__lists -->
  </div>
  <!-- /.header__nav -->
  <div class="p-header__contact"><a href="contact_yuichi.html">お問い合わせ</a></div>
  <!-- /.header__contact -->
</header>
