fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: none;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111111;
	color: #FFFFFF;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-blog-card {
	margin: auto;
	max-width: 33.75rem;
	width: 100%;
}

.l-blog-card:not(:last-child) {
	margin-bottom: 1.5rem;
}

.l-comfirm {
	margin-bottom: 7.5rem;
	margin-top: 3.75rem;
}

.l-contact-details {
	margin-top: 5.1875rem;
}

.l-contact {
	margin-top: 7.5rem;
}

.l-content {
	margin-top: 5.9375rem;
}

.l-footer {
	padding: 52px 20px 54px;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-news__container {
	margin-top: 2rem;
}

.l-news__contents {
	margin-left: auto;
	margin-right: auto;
}

.l-news-archive {
	margin-top: 5.3125rem;
}

.l-news-news {
	margin-top: 1rem;
}

.l-pagination {
	margin: auto;
	max-width: 20.9375rem;
	width: 100%;
}

.l-portfolio-card {
	margin: auto;
	max-width: 33.75rem;
	width: 100%;
}

.l-portfolio-card:not(:last-child) {
	margin-bottom: 1.5rem;
}

.l-sub-contact {
	margin-top: 7.4375rem;
}

.l-top-blog {
	margin-top: 6.3125rem;
}

.l-top-contact {
	margin-top: 7.4375rem;
}

.l-top-content {
	margin-top: 9.625rem;
}

.l-top-news {
	margin-top: 2rem;
}

.l-top-service {
	margin-top: 7.8125rem;
}

.l-top-works {
	margin-top: 7.8125rem;
}

.l-work-breadcrumbs {
	margin-left: 1.25rem;
	margin-top: 4.0625rem;
}

.l-work {
	margin-top: 3.5rem;
}

.c-blog-card {
	background: #ffffff;
	color: #111111;
	display: block;
	transition: all 0.5s ease;
}

.c-blog-card:hover {
	background: #333333;
}

.c-blog-card:hover .c-blog-card__img img {
	transform: scale(1.2, 1.2);
	transition: all .5s ease;
}

.c-blog-card:hover .c-card-content__title,
.c-blog-card:hover .c-card-content__text,
.c-blog-card:hover .c-card-info__day {
	color: #ffffff;
}

.c-blog-card__img {
	overflow: hidden;
	padding-top: 66.6%;
	position: relative;
	width: 100%;
}

.c-blog-card__img img {
	-o-object-fit: cover;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: all .5s ease;
}

.c-card-content {
	color: #333333;
	padding: 0.3125rem 1.4375rem 1rem;
	text-align: left;
	transition: all 0.5s ease;
}

.c-card-content__title {
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 35px;
	margin-bottom: 3px;
}

.c-card-content__text {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 26px;
	margin-bottom: 5px;
}

.c-card-content__info {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 26px;
}

.c-card-info__category {
	background: #ffea2e;
	display: inline-block;
	letter-spacing: 0.15625rem;
	margin-right: auto;
	padding-left: 0.4375rem;
	padding-right: 0.4375rem;
	text-align: center;
}

.c-card-info__day {
	letter-spacing: 2px;
	transition: all 0.5s ease;
}

.c-blog__title {
	font-size: 1.25rem;
	letter-spacing: 0.025rem;
	line-height: 2.1875rem;
	margin-bottom: 1rem;
}

.c-blog__infomation {
	display: inline-block;
	margin-bottom: 1rem;
	width: 100%;
}

.c-blog__days {
	display: inline-block;
	letter-spacing: 0.025rem;
	line-height: 2.01875rem;
	margin-right: 1.5rem;
}

.c-blog__category {
	border: 1px solid #ffffff;
	display: inline-block;
	max-width: 8rem;
	text-align: center;
	width: 100%;
}

.c-blog__category a {
	display: inline-block;
	letter-spacing: 0.02em;
	line-height: 1.45rem;
	padding-bottom: 0.5625rem;
	padding-top: 0.5rem;
}

.c-blog__thumbnail {
	margin-bottom: 1.5rem;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.c-blog__thumbnail img {
	display: block;
	height: auto;
	width: 100%;
}

.c-blog__text {
	letter-spacing: 0.025rem;
	line-height: 2.1875rem;
	margin-bottom: 1.5rem;
	text-align: left;
}

.c-blog__heading {
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin-bottom: 1.5rem;
	padding-left: 0.5625rem;
	position: relative;
}

.c-blog__heading::before {
	background: #c4c4c4;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 0.1875rem;
}

.c-blog__subheading {
	display: inline-block;
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	line-height: 1.625rem;
	margin-bottom: 1.5rem;
	padding-bottom: 0.1875rem;
	position: relative;
}

.c-blog__subheading::after {
	background: #ffffff;
	bottom: 0;
	content: "";
	height: 0.1875rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.c-blog__lists {
	display: inline-block;
	margin-bottom: 1.5rem;
}

.c-blog__list {
	display: inline-block;
	letter-spacing: 0.025rem;
	line-height: 2.1875rem;
}

.p-blog-detail__pagination {
	margin: auto;
	margin-bottom: 7.5rem;
	max-width: 19.3125rem;
	width: 100%;
}

.relation__title {
	border: 1px solid #ffffff;
	letter-spacing: 0.125rem;
	line-height: 1.45rem;
	margin: auto;
	margin-bottom: 2rem;
	max-width: 33.75rem;
	padding-bottom: 0.625rem;
	padding-top: 0.5625rem;
	text-align: center;
	width: 100%;
}

.breadcrumbs {
	margin-top: 1rem;
}

.breadcrumbs ul {
	display: inline-block;
	text-align: left;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: 0.1875rem;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs a {
	letter-spacing: 0.0625rem;
	line-height: 1.1875rem;
}

.breadcrumbs span {
	display: inline-block;
	margin-right: 0.1875rem;
}

.c-btn {
	background: #333333;
	border: 0.0625rem solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	margin: 0 auto;
	max-width: 20.9375rem;
	padding: 0.5625rem 0;
	text-align: center;
	width: 100%;
}

.c-burger-menu {
	background: #111111;
	height: 100%;
	width: 100%;
	z-index: 998;
}

.c-burger-menu__items {
	display: block;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.c-burger-menu__item {
	margin-right: 0;
}

.c-burger-menu__item:not(:last-child) {
	margin-bottom: 2rem;
}

.c-burger-menu__item a {
	letter-spacing: 0.125rem;
	line-height: 1.45rem;
}

.c-category__items {
	display: inline-block;
}

.c-category__item {
	display: inline-block;
	letter-spacing: 0.02em;
	line-height: 1.45rem;
	margin-bottom: 1rem;
	position: relative;
}

.c-category__item:first-child {
	background: #FFFFFF;
	color: #333333;
	padding: 0.1875rem 0.5rem 0.25rem 0.5rem;
}

.c-category__item:not(:first-child)::after {
	background: #000000;
	bottom: -0.1875rem;
	content: "";
	height: 0.0625rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.c-category__item:not(:last-child) {
	margin-right: 1.4375rem;
}

.c-contact-details__head {
	display: flex;
}

.c-contact-details__headTextarea {
	display: flex;
}

.c-contact-details__textarea {
	height: 15.625rem;
}

.c-icon--new {
	align-items: center;
	background-color: #FFBA6A;
	border-radius: 50%;
	color: #333;
	display: flex;
	font-size: 1rem;
	height: 3.75rem;
	justify-content: center;
	width: 3.75rem;
}

.c-nav__lists {
	display: inline-block;
}

.c-nav__list {
	display: inline-block;
	margin-right: 2rem;
}

.c-nav__list a {
	letter-spacing: 0.125rem;
	line-height: 2.1875rem;
	padding: 0.375rem 0 0.5625rem;
	position: relative;
}

.c-nav__list a::after {
	-webkit-transition: all .3s ease;
	border-bottom: solid 1px #FFEA2E;
	bottom: 0;
	content: "";
	display: block;
	transition: all .3s ease;
	width: 0;
}

.c-nav__list a:hover::after {
	width: 100%;
}

.c-news__btn {
	background: #333333;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	margin: 0 auto;
	max-width: 20.9375rem;
	padding: 0.6875rem 0;
	text-align: center;
	width: 100%;
}

.c-news__date {
	font-size: 1rem;
	padding-top: 0.3125rem;
}

.c-news__tag {
	border: 0.0625rem solid #FFFFFF;
	font-size: 0.875rem;
	left: 50%;
	max-width: 6.1875rem;
	padding: 0.3125rem 1.1875rem;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.c-news__title {
	font-size: 1rem;
}

.c-news-btn {
	background: #333333;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	padding: 0.5625rem 0.3125rem;
	text-align: center;
}

.c-news-date {
	font-size: 1rem;
}

.c-news-tag {
	border: 0.0625rem solid #FFFFFF;
	font-size: 0.875rem;
	padding: 0.3125rem 1.25rem;
}

.c-news-title {
	font-size: 1rem;
	line-height: 1.5;
}

.service-page {
	background: #111111;
}

.pagination {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.pagination__link {
	border: 1px solid #ffffff;
	color: #ffffff;
	display: inline-block;
	line-height: 1.375rem;
	padding: 0 0.75rem;
	transition: all 0.3s ease;
}

.pagination__page {
	border: 1px solid #ffffff;
	display: inline-block;
	line-height: 1rem;
	padding: 0.125rem 0.375rem 0.25rem 0.4375rem;
	transition: all 0.3s ease;
}

.pagination__page:hover,
.pagination__link:hover {
	background: #ffffff;
	color: #333333;
}

.pagination__page--current {
	background: #ffffff;
	color: #333333;
}

.pagination02__link--previous {
	line-height: 1.45rem;
	max-width: 4.4375rem;
	padding: 0;
	text-align: center;
	width: 100%;
}

.pagination02__page--center {
	line-height: 1.45rem;
	max-width: 4.4375rem;
	padding: 0;
	text-align: center;
	width: 100%;
}

.pagination02__link--next {
	line-height: 1.45rem;
	max-width: 4.4375rem;
	padding: 0;
	text-align: center;
	width: 100%;
}

.c-portfolio-card {
	display: block;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	position: relative;
	transition: all 0.5s ease;
}

.c-portfolio-card:hover .c-portfolio-card__img img {
	transform: scale(1.2, 1.2);
	transition: all 0.5s ease;
}

.c-portfolio-card:hover .c-portfolio-card__name {
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s ease;
}

.c-portfolio-card__img {
	margin-bottom: 0.75rem;
	overflow: hidden;
	padding-top: 66.6%;
	position: relative;
	width: 100%;
}

.c-portfolio-card__img img {
	-o-object-fit: cover;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: all 0.5s ease;
}

.c-portfolio-card__name {
	color: #FFFFFF;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.125rem;
	text-align: center;
	transition: all 0.5s ease;
}

.c-portfolio-card__category {
	background: #111111;
	color: #FFFFFF;
	letter-spacing: 0.125rem;
	line-height: 1;
	padding: 0.5rem 1.25rem 0.5625rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 10;
}

.c-section-title__english {
	color: #F9F871;
	font-family: "Noto Serif JP";
	font-size: 3.125rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	opacity: 0.2;
}

.c-section-title__japanese {
	bottom: 0;
	font-size: 1.25rem;
	font-weight: 400;
	left: 50%;
	letter-spacing: 0.125rem;
	position: absolute;
	transform: translateX(-50%);
}

.c-section-title-bg {
	color: #F9F871;
	font-family: "Noto Serif JP";
	font-size: 3.125rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1;
	opacity: 0.2;
}

.c-section-title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-text {
	letter-spacing: 0.125rem;
}

.c-underpage-mainvisual {
	padding-top: 113.3%;
	position: relative;
	width: 100vw;
}

.p-about-mainvisual {
	background: url(/images/common/aboutPage-MV.png) center center/cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.p-about {
	padding-bottom: 7.5rem;
	padding-top: 6.25rem;
	width: 100%;
}

.p-about__contents {
	margin-bottom: 7.5rem;
}

.p-about__content {
	border-bottom: solid 1px #FFFFFF;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 1.25rem;
	width: 100%;
}

.p-about__content:not(:first-child) {
	margin-top: 1.0625rem;
}

.p-about__content dt,
.p-about__content dd {
	display: inline-block;
	font-size: 0.8125rem;
}

.p-about__content dt {
	line-height: 1.3125rem;
	padding-left: 0.3125rem;
	width: 7.1875rem;
}

.p-about__content dd {
	line-height: 1.5rem;
	width: calc(100% - 7.1875rem);
}

.p-about__map {
	margin-left: calc((50vw - 50%) * -1);
	margin-right: calc((50vw - 50%) * -1);
	padding-top: 89.5%;
	position: relative;
}

.p-about__map iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-blog-detail-mainvisual {
	display: none;
}

.p-blog-detail {
	padding-bottom: 7.5rem;
	padding-top: 4.875rem;
}

.p-blog-detail__contents {
	margin-bottom: 3.5rem;
}

.p-blog-mainvisual {
	background: url(/images/common/blogPage-MV.png) center center/cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.p-blog-under {
	padding-bottom: 7.5rem;
	padding-top: 5.3125rem;
}

.p-blog-under__category {
	margin-bottom: 1.3125rem;
}

.p-blog-under__contents {
	margin-bottom: 5.1875rem;
}

.p-confirm__text {
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	margin-top: 4.375rem;
	text-align: center;
}

.p-confirm__btn {
	margin-top: 5rem;
}

.p-confirm__btn {
	font-size: 1.25rem;
}

.p-contact-details__container {
	margin-left: auto;
	margin-right: auto;
	max-width: 33.75rem;
	width: 100%;
}

.p-contact-details__content {
	font-size: 0.875rem;
	margin-top: 2rem;
}

.p-contact-details__item {
	background-color: #fff;
	padding: 0.21875rem 1rem;
}

.p-contact-details__text {
	font-size: 0.875rem;
	width: 100%;
}

.p-contact-details__btn {
	background-color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	letter-spacing: 0.125rem;
	margin-top: 3rem;
	padding: 0.625rem 0;
	text-align: center;
	width: 100%;
}

.p-contact {
	background-color: #3D3D3D;
}

.p-contact__container {
	max-width: 68.75rem;
	padding: 1.25rem 0 4.0625rem;
	width: 100%;
}

.p-contact__text {
	padding: 1.25rem 0 2.5rem;
}

.p-content__inner {
	position: relative;
}

.p-content__inner::after {
	background: #F9F871;
	content: '';
	height: 0.0625rem;
	left: 0;
	position: absolute;
	top: -1.5625rem;
	transform: skewY(61.09deg);
	transform-origin: top left;
	width: 100%;
	z-index: -1;
}

.p-content__cards {
	display: flex;
	flex-wrap: wrap;
	padding-top: 2.875rem;
	width: 100%;
}

.p-content__card {
	position: relative;
	width: calc(100% * 1 / 2);
	z-index: 2;
}

.p-content__card-image {
	position: relative;
}

.p-content__card-image::before {
	content: "";
	display: block;
	padding-top: 89.3617%;
}

.p-content__card-image::after {
	background-color: #000;
	content: "";
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-content__card-image img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-content__card-title {
	font-size: 1.25rem;
	left: 50%;
	letter-spacing: 0.125rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 10;
}

.p-error {
	margin-bottom: 7.5rem;
	margin-top: 8.125rem;
}

.p-error__text {
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	margin-top: 4.375rem;
	text-align: center;
}

.p-error__btn {
	margin-top: 5rem;
}

.p-error__btn {
	font-size: 1.25rem;
}

.p-footer__contents {
	margin-bottom: 24px;
}

.p-footer__logo a {
	display: block;
	font-family: "Playlist", sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.075rem;
	line-height: 1.875rem;
	margin: auto;
	margin-bottom: 0.5rem;
	text-align: center;
}

.p-footer__logo a img {
	-o-object-fit: cover;
	object-fit: cover;
}

.p-footer__nav {
	letter-spacing: 1.2px;
	text-align: center;
}

.p-footer-nav__list:nth-child(4),
.p-footer-nav__list:nth-child(7) {
	display: none;
}

.p-footer-nav__list:not(:last-child) {
	margin-bottom: 5.5px;
}

.p-footer-nav__list a {
	display: inline-block;
	transition: all 0.3s ease;
}

.p-footer-nav__list a:hover {
	opacity: 0.7;
}

.p-footer__copyright {
	text-align: center;
}

.p-footer__copyright small {
	font-size: 0.6875rem;
	letter-spacing: 1.2px;
}

.p-detail-page {
	padding-top: 3.125rem;
}

.p-top-header {
	align-items: center;
	background: rgba(17, 17, 17, 0.5);
	display: flex;
	left: 0;
	padding-bottom: 0.625rem;
	padding-left: 1.375rem;
	padding-right: 1.375rem;
	padding-top: 0.625rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.p-top-header.transform {
	background: #111111;
}

.p-header__title {
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.075rem;
	line-height: 1.8875rem;
	margin-right: auto;
	position: relative;
	z-index: 999;
}

.p-header__title a {
	color: #FFFFFF;
	display: inline-block;
	font-family: "Playlist", sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.075rem;
	line-height: 1.8875rem;
}

.p-burger__btn {
	display: block;
	height: 0.8125rem;
	position: relative;
	width: 1.5rem;
	z-index: 1000;
}

.p-bar {
	background: #FFFFFF;
	display: block;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 1.5rem;
}

.p-bar-top {
	top: 0;
}

.p-bar-mid {
	top: 50%;
	transform: translate(-50%, -50%);
}

.p-bar-bottom {
	bottom: 0;
}

.p-burger__btn.close .p-bar-top {
	transform: translate(-50%, 6px) rotate(45deg);
	transition: transform 0.3s;
}

.p-burger__btn.close .p-bar-mid {
	opacity: 0;
	transition: opacity 0.3s;
}

.p-burger__btn.close .p-bar-bottom {
	transform: translate(-50%, -5px) rotate(-45deg);
	transition: transform 0.3s;
}

.p-header__burger-menu {
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	visibility: hidden;
	width: 100vw;
	z-index: 998;
}

.p-header__burger-menu.fade {
	opacity: 1;
	visibility: visible;
}

.noscroll {
	overflow: hidden;
}

.p-header__nav {
	display: none;
}

.p-header__contact {
	display: none;
}

.js-mainVisual {
	margin: initial;
}

.swiper-slide {
	position: relative;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img { /* 12秒かけて拡大させる */
	-webkit-animation: zoomUp 12s linear 0s;
	-webkit-animation-fill-mode: both;
	animation: zoomUp 12s linear 0s;
	animation-fill-mode: both;
}

.slide-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; /* 背景画像は中央を軸に表示させる */
	height: 100vh;
}

.slide-img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.p-mv__titles {
	content: "";
	font-weight: bold;
	left: 50%;
	max-width: 21.375rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-mv__title {
	font-size: 1.75rem;
	letter-spacing: 0.03125rem;
}

.p-mv__subtitle {
	font-size: 1.25rem;
	margin-top: 0.625rem;
}

.p-news__container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	max-width: 37.5rem;
	width: 100%;
}

.p-news__container:first-child {
	margin-top: 0;
}

.p-news__pagination {
	margin-bottom: 7.5rem;
	margin-top: 5rem;
}

.p-news__title {
	padding-top: 1.75rem;
}

.p-news__contents {
	position: relative;
}

.p-portfolio-mainvisual {
	background: url(/images/common/portfolioPage-MV.png) center center/cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.p-portfolio-under {
	padding-bottom: 7.5rem;
	padding-top: 5.3125rem;
}

.p-portfolio-under__category {
	margin-bottom: 1.3125rem;
}

.p-portfolio-under__contents {
	margin-bottom: 5.1875rem;
}

.p-section-title {
	margin: auto;
	max-width: 37.5rem;
	position: relative;
	text-align: center;
	width: 100%;
}

.p-service-mainvisual {
	background: url(/images/common/servicePage-MV.png) center center/cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

.page-title {
	color: #FFFFFF;
	font-size: 1.875rem;
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.125rem;
	line-height: 2.7125rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.p-service {
	padding-bottom: 7.5rem;
	padding-top: 5.3125rem;
}

.p-service__title {
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.p-service__lead {
	letter-spacing: 0.125rem;
	line-height: 1.45rem;
	margin: auto;
	margin-bottom: 5rem;
	max-width: 33.75rem;
	width: 100%;
}

.p-sub-policy {
	margin-bottom: 3rem;
}

.p-sub-policy:last-child {
	margin-bottom: 0;
}

.p-sub-policy__img {
	margin-bottom: 1.5rem;
	margin-left: calc((50vw - 50%) * -1);
	margin-right: calc((50vw - 50%) * -1);
}

.p-sub-policy__img img {
	height: auto;
	width: 100%;
}

.p-sub-policy__detail {
	max-width: 31.875rem;
	width: 100%;
}

.p-sub-policy__detail--number {
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.p-sub-policy__detail--text {
	letter-spacing: 0.125rem;
	line-height: 1.45rem;
	margin: auto;
	max-width: 33.75rem;
	text-align: left;
	width: 100%;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-top-blog__title {
	text-align: center;
}

.p-top-blog__title .c-section-title-bg {
	margin-top: -3.9375rem;
}

.p-top-blog__contents {
	margin-top: 5.125rem;
}

.p-top-blog__btn {
	margin-top: 1.4375rem;
}

.p-top-card__img {
	position: relative;
	width: 100%;
}

.p-top-card__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-top-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-top-card__body {
	background-color: #3D3D3D;
	padding: 1.75rem 1.25rem 1.3125rem 1.25rem;
}

.p-top-card__title {
	letter-spacing: 0.2em;
	line-height: 1;
	text-align: center;
}

.p-top-card__text {
	letter-spacing: 0.12em;
	line-height: 1.45;
	margin-top: 1.8125rem;
}

.p-top-card__btn {
	margin-top: 1.5625rem;
}

.p-top-content__inner {
	height: inherit;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-top-content__title {
	text-align: center;
}

.p-top-content__title .c-section-title-bg {
	margin-top: -3.9375rem;
}

.p-top-content__cards {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-top: 4.125rem;
}

.p-top-content__card {
	position: relative;
	width: calc(100% * 1 / 2);
	z-index: 2;
}

.p-top-content__card-image {
	position: relative;
}

.p-top-content__card-image::before {
	content: "";
	display: block;
	padding-top: 89.3617%;
}

.p-top-content__card-image::after {
	background-color: #000;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-top-content__card-image img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-content__card-title {
	font-size: 1.25rem;
	left: 50%;
	letter-spacing: 0.125rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 10;
}

.p-top-news__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-top-news__info {
	align-items: center;
	display: flex;
}

.p-top-news__date {
	margin-right: 2rem;
}

.p-top-news__title {
	margin-top: 1.0625rem;
}

.p-top-news__btn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.625rem;
	max-width: 20.9375rem;
	width: 100%;
}

.p-top-service__inner {
	height: inherit;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-top-service__title .c-section-title {
	text-align: center;
}

.p-top-service__title .c-section-title-bg {
	margin-top: -3.9375rem;
}

.p-top-service__card {
	margin-top: 4.125rem;
}

.p-top-service__img {
	position: relative;
	width: 100%;
}

.p-top-service__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-top-service__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-top-service__body {
	background-color: #3D3D3D;
	padding: 1.75rem 1.25rem 1.3125rem 1.25rem;
}

.p-top-service__title {
	letter-spacing: 0.2em;
	line-height: 1;
	text-align: center;
}

.p-top-service__text {
	letter-spacing: 0.12em;
	line-height: 1.45;
	margin-top: 1.8125rem;
}

.p-top-service__btn {
	margin-top: 1.5625rem;
}

.p-top-works__inner {
	height: inherit;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-top-works__title .c-section-title {
	text-align: center;
}

.p-top-works__title .c-section-title-bg {
	margin-top: -3.9375rem;
}

.p-top-works__card {
	margin-top: 3rem;
}

.p-top-works__swiper {
	overflow: hidden;
	transform: translateY(0.9375rem);
}

.swiper-pagination {
	line-height: 1;
	position: static !important;
}

.swiper-pagination-bullet {
	margin: 0 0.375rem !important;
}

.swiper-pagination-bullet-active {
	background-color: #F9F871 !important;
}

.p-top-works__body {
	background-color: #3D3D3D;
	padding: 1.75rem 1.25rem 1.3125rem 1.25rem;
}

.p-top-works__title {
	letter-spacing: 0.2em;
	line-height: 1;
	text-align: center;
}

.p-top-works__text {
	letter-spacing: 0.12em;
	line-height: 1.45;
	margin-top: 1.8125rem;
}

.p-top-works__btn {
	margin-top: 1.5625rem;
}

.p-work-box {
	border: 1px solid #fff;
	color: #fff;
	padding-bottom: 2rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 3.4375rem;
	position: relative;
}

.p-work-box:not(:first-child) {
	margin-top: 3.375rem;
}

.p-work-box__title {
	background-color: #000;
	border: 1px solid #fff;
	border-radius: 2rem;
	display: inline-block;
	font-size: 1.25rem;
	left: 1.4375rem;
	letter-spacing: 0.4px;
	line-height: 1;
	padding: 0.75rem 1.5rem;
	position: absolute;
	top: -1.4375rem;
}

.p-work-box__text {
	font-size: 1rem;
	letter-spacing: 0.4px;
	line-height: 2.1875;
}

.p-work-slider {
	position: relative; /* 次ページボタンのスタイル */ /* 前ページボタンのスタイル */
}

.p-work-slider .gallery-slider {
	height: auto;
	width: 100%;
}

.p-work-slider .gallery-slider .swiper-slide {
	position: relative;
	width: 100%;
}

.p-work-slider .gallery-slider .swiper-slide::before {
	content: "";
	display: block;
	padding-top: 67.2463%;
}

.p-work-slider .gallery-slider .swiper-slide img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-work-slider .gallery-thumbs {
	margin-top: 2rem;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.p-work-slider .gallery-thumbs .swiper-slide::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.p-work-slider .gallery-thumbs .swiper-slide img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-work-slider .swiper-button-prev,
.p-work-slider .swiper-button-next {
	background-color: #000;
	border-radius: 50%;
	height: 1.875rem !important;
	margin-top: -24px;
	top: 30%;
	width: 1.875rem !important;
}

.p-work-slider .swiper-button-next::after {
	border-right: 2px solid #ffea2e;
	border-top: 2px solid #ffea2e;
	height: 0.6875rem;
	transform: rotate(45deg) translate(-0.125rem, 0rem);
	width: 0.6875rem;
}

.p-work-slider .swiper-button-prev::after {
	border-right: 2px solid #ffea2e;
	border-top: 2px solid #ffea2e;
	height: 0.6875rem;
	transform: rotate(-135deg) translate(0rem, 0.0625rem);
	width: 0.6875rem;
}

.p-work__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-work__title {
	font-size: 1.25rem;
	letter-spacing: 0.4px;
	line-height: 1;
}

.p-work__info {
	align-items: center;
	display: flex;
	margin-top: 1.9375rem;
}

.p-work__date {
	font-size: 1rem;
	margin-right: 1.875rem;
}

.p-work__date .c-news-date {
	font-size: 1rem;
	letter-spacing: 0.4px;
}

.p-work__tag .c-news-tag {
	font-size: 1rem;
	letter-spacing: 0.16em;
	padding: 0.3125rem 1.25rem;
}

.p-work__slider {
	margin-top: 1.5rem;
	overflow: hidden;
	width: 100%;
}

.p-work__box {
	margin-top: 3.125rem;
}

.p-work__psgination {
	margin-top: 5rem;
}

.p-work__relation {
	margin-top: 7.3125rem;
}

.test {
	font-size: 1.0rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.45455vw;
}

.l-blog-card {
	margin: 0;
	max-width: calc((100% - 1.5625rem * 2) / 3);
	width: 100%;
}

.l-blog-card:not(:nth-child(3n)) {
	margin-right: 1.25rem;
}

.l-comfirm {
	margin-bottom: 9.375rem;
	margin-top: 9.375rem;
}

.l-contact {
	margin-top: 9.375rem;
}

.l-content {
	margin-top: 10.625rem;
}

.l-footer {
	padding: 2.3125rem 2rem 1.625rem;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-news-archive {
	margin-top: 4.3125rem;
}

.l-news-news {
	margin-top: 4.3125rem;
}

.l-portfolio-card {
	margin: 0;
	max-width: calc((100% - 3rem) / 2);
	width: 100%;
}

.l-portfolio-card:not(:nth-child(2n)) {
	margin-right: 3rem;
}

.l-sub-contact {
	margin-top: 10rem;
}

.l-top-blog {
	margin-top: 13.5625rem;
}

.l-top-contact {
	margin-top: 10rem;
}

.l-top-content {
	margin-top: 12.125rem;
}

.l-top-news {
	margin-top: 1.875rem;
}

.l-top-service {
	margin-top: 12.9375rem;
}

.l-top-works {
	margin-top: 12.8125rem;
}

.l-work {
	margin-top: 5.8125rem;
}

.c-card-content__title {
	letter-spacing: 1px;
}

.c-card-content__text {
	letter-spacing: 1px;
	margin-bottom: 11px;
}

.c-card-info__category {
	letter-spacing: 1px;
	padding-left: 0.1875rem;
	padding-right: 0.1875rem;
}

.c-card-info__day {
	letter-spacing: 1px;
}

.c-blog__title {
	font-size: 1.4375rem;
	margin-bottom: 2rem;
}

.c-blog__infomation {
	margin-bottom: 2rem;
}

.c-blog__thumbnail {
	margin: auto;
	margin-bottom: 2rem;
}

.c-blog__text {
	margin-bottom: 2rem;
}

.c-blog__heading {
	margin-bottom: 2rem;
	padding-left: 0.4375rem;
}

.c-blog__lists {
	margin-bottom: 2rem;
}

.p-blog-detail__pagination {
	margin-bottom: 6.5rem;
}

.relation__title {
	background: #333333;
	margin-bottom: 5rem;
	max-width: 100%;
	padding-bottom: 0.5rem;
}

.relation__blogs {
	display: flex;
	justify-content: space-between;
}

.relation__blogs .l-blog-card {
	margin: 0;
	max-width: calc((100% - 2rem * 3) / 4);
}

.relation__blogs .c-card-content {
	padding: 0.1875rem 0.4375rem 0.875rem 0.5625rem;
}

.relation__blogs .c-card-content__text {
	display: none;
}

.relation__blogs .c-card-content__title {
	font-size: 0.875rem;
	letter-spacing: 0.0625rem;
	line-height: 2.1875rem;
}

.c-btn {
	font-size: 1.25rem;
	max-width: 22.5rem;
	overflow: hidden;
	padding: 0.8125rem 0;
	position: relative;
	width: 100%;
}

.c-btn::before {
	background-color: #FFFFFF;
	content: "";
	display: inline-block;
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transition: .3s;
	width: 100%;
	z-index: -1;
}

.c-btn:hover {
	border: 0.0625rem solid transparent;
	color: #333333;
	z-index: 10;
}

.c-btn:hover::before {
	left: 0;
}

.c-category__item:not(:first-child)::after {
	position: static;
}

.c-contact-details__head {
	content: "";
	justify-content: right;
	left: -30%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8.4375rem;
}

.c-contact-details__headTextarea {
	content: "";
	justify-content: right;
	left: -30%;
	position: absolute;
	top: 0.625rem;
	width: 8.4375rem;
}

.c-contact-details__textarea {
	height: 18.75rem;
}

.c-news__btn {
	background-color: #FFFFFF;
	border: none;
	color: #333333;
	font-size: 1rem;
	margin-left: 3rem;
	max-width: 8.6875rem;
	overflow: hidden;
	padding: 0.3125rem 1.5rem;
	position: relative;
	width: 100%;
}

.c-news__btn::before {
	background-color: #FFFFFF;
	content: "";
	display: inline-block;
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transition: .3s;
	width: 100%;
	z-index: -1;
}

.c-news__btn:hover {
	color: #FFFFFF;
	z-index: 10;
}

.c-news__btn:hover::before {
	left: 0;
}

.c-news__date {
	padding-top: 0;
}

.c-news__tag {
	margin-left: 3rem;
	position: static;
	transform: none;
}

.c-news__title {
	margin-left: 3.5rem;
	max-width: initial;
	max-width: 35.75rem;
	padding-top: 0.3125rem;
}

.c-news__title:hover {
	color: #F9F871;
	cursor: pointer;
	transition: .3s;
}

.c-news-btn {
	background-color: #FFFFFF;
	border: none;
	color: #333333;
	font-size: 1rem;
	overflow: hidden;
	padding: 0.3125rem 1.5rem;
	position: relative;
}

.c-news-btn::before {
	background-color: #FFFFFF;
	content: "";
	display: inline-block;
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transition: .3s;
	width: 100%;
	z-index: -1;
}

.c-news-btn:hover {
	color: #FFFFFF;
	z-index: 10;
}

.c-news-btn:hover::before {
	left: 0;
}

.c-news-date {
	padding-top: 0;
}

.c-news-title {
	max-width: 35.75rem;
	padding-top: 0.3125rem;
}

.c-news-title:hover {
	color: #F9F871;
	cursor: pointer;
	transition: .3s;
}

.c-portfolio-card {
	margin: 0;
}

.c-section-title__english {
	font-size: 6.875rem;
	line-height: .9;
}

.c-section-title__japanese {
	bottom: 2.5rem;
	font-size: 1.875rem;
}

.c-section-title-bg {
	font-size: 6.875rem;
	line-height: .9;
}

.c-section-title {
	font-size: 1.875rem;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.c-underpage-mainvisual {
	padding-top: 28.9%;
}

.c-underpage-mainvisual::after {
	background: rgba(17, 17, 17, 0.3);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.p-about-mainvisual {
	background: url(/images/common/aboutPage-MVPC.png) center center/cover;
}

.p-about {
	padding-bottom: 8.75rem;
	padding-top: 9.125rem;
}

.p-about__contents {
	margin-bottom: 4.375rem;
}

.p-about__content {
	padding-bottom: 1.75rem;
}

.p-about__content:not(:first-child) {
	margin-top: 1.875rem;
}

.p-about__content dt,
.p-about__content dd {
	font-size: 1rem;
}

.p-about__content dt {
	padding-left: 0rem;
	width: 9.5rem;
}

.p-about__content dd {
	letter-spacing: 0.0625rem;
	width: calc(100% - 9.5rem);
}

.p-about__map {
	margin: 0;
	padding-top: 45.5%;
}

.p-blog-detail__contents {
	margin: auto;
	margin-bottom: 4.5rem;
	max-width: 50rem;
	width: 100%;
}

.p-blog-mainvisual {
	background: url(/images/common/blogPage-MVPC.png) center center/cover;
}

.p-blog-under__contents {
	margin-bottom: 5rem;
}

.p-blog__contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.p-confirm__text {
	font-size: 1.875rem;
}

.p-confirm__sp {
	display: none;
}

.p-confirm__btn {
	font-size: 1rem;
}

.p-contact-details__content {
	margin-top: 2.8125rem;
	position: relative;
}

.p-contact-details__btn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.5rem;
	max-width: 22.5rem;
	padding: 0.9375rem 0;
	width: 100%;
}

.p-contact__container {
	padding: 3.5625rem 0 9.375rem;
}

.p-contact__text {
	margin: auto;
	max-width: 44.6875rem;
	padding: 0.9375rem 0 3.75rem;
	width: 100%;
}

.p-content__inner::after {
	top: -3.75rem;
	transform: skewY(45deg);
}

.p-content__cards {
	padding-top: 0;
}

.p-content__card {
	background: #FFFFFF;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: 25%;
}

.p-content__card-image {
	cursor: pointer;
	transition-duration: 0.3s;
	width: 100%;
}

.p-content__card-image:hover {
	opacity: 0.6;
	transition-duration: 0.3s;
}

.p-content__card-image::before {
	padding-top: 99.6875%;
}

.p-content__card-title {
	font-size: 1.5625rem;
	max-width: 13.75rem;
}

.p-error {
	margin-bottom: 9.375rem;
	margin-top: 12.5rem;
}

.p-error__text {
	font-size: 1.875rem;
}

.p-error__sp {
	display: none;
}

.p-error__btn {
	font-size: 1rem;
}

.p-footer__contents {
	align-items: center;
	display: flex;
	margin-bottom: 4.3125rem;
}

.p-footer__logo a {
	margin: 0;
	margin-right: auto;
}

.p-footer__nav {
	margin-left: auto;
}

.p-footer-nav__lists {
	display: flex;
	justify-content: space-between;
}

.p-footer-nav__list:not(:last-child) {
	margin-bottom: 0;
}

.p-footer-nav__list:first-child,
.p-footer-nav__list:nth-child(6) {
	display: none;
}

.p-footer-nav__list:nth-child(4),
.p-footer-nav__list:nth-child(7) {
	display: block;
}

.p-footer-nav__list:not(:last-child) {
	margin-right: 2.125rem;
}

.p-footer-nav__list a {
	padding-bottom: 0.34375rem;
	position: relative;
	transition: all 0.3s ease;
}

.p-footer-nav__list a:hover {
	opacity: 1;
}

.p-footer-nav__list a:after {
	background: #ffea2e;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform 0.3s;
	width: 100%;
}

.p-footer-nav__list a:hover::after {
	transform: scale(1, 1);
}

.p-footer__copyright small {
	font-size: 0.9375rem;
}

.p-top-header {
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
	transition: all 0.5s;
}

.p-top-header.transform {
	background: #111111;
}

.p-burger__btn {
	display: none;
}

.p-header__burger-menu {
	display: none;
}

.p-header__nav {
	display: inline-block;
	position: relative;
	z-index: 1000;
}

.p-header__contact {
	display: inline-block;
	max-width: 10.625rem;
	text-align: center;
	width: 100%;
}

.p-header__contact a {
	background: #FFFFFF;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 0.125rem;
	line-height: 2.1875rem;
	max-width: 10.625rem;
	padding: 0.4375rem 0 0.5rem;
	transition: all 0.3s;
	width: 100%;
}

.p-header__contact a:hover {
	background: #333333;
	color: #FFFFFF;
	transition: all 0.3s;
}

.p-mv__titles {
	max-width: 37.875rem;
}

.p-mv__title {
	font-size: 3.125rem;
}

.p-mv__subtitle {
	font-size: 1.5625rem;
	margin-top: 0.3125rem;
}

.p-news__container {
	align-items: center;
	display: flex;
	max-width: 65.125rem;
	width: 100%;
}

.p-news__pagination {
	margin-bottom: 9.375rem;
	margin-top: 6.5rem;
}

.p-news__title {
	padding: 0;
}

.p-news__date {
	padding-top: 0.3125rem;
}

.p-news__contents {
	display: flex;
	position: static;
}

.p-portfolio-mainvisual {
	background: url(/images/common/portfolioPage-MVPC.png) center center/cover;
}

.p-portfolio-under__contents {
	margin-bottom: 5rem;
}

.p-portfolio__contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.p-section-title {
	max-width: 76.25rem;
	padding-left: 1.875rem;
	text-align: left;
}

.p-service-mainvisual {
	background: url(/images/common/servicePage-MVPC.png) center center/cover;
}

.p-service {
	padding-bottom: 9.375rem;
	padding-top: 4.375rem;
}

.p-service__title {
	font-size: 1.5625rem;
	line-height: 2.1875rem;
}

.p-service__lead {
	line-height: 2.1875rem;
	margin: auto;
	margin-bottom: 9.375rem;
	max-width: 35.5rem;
	width: 100%;
}

.p-sub-policy {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6.5rem;
}

.p-sub-policy:nth-child(2) {
	flex-direction: row-reverse;
}

.p-sub-policy:nth-child(2) .p-sub-policy__detail {
	margin: 0;
	margin-right: 1.875rem;
}

.p-sub-policy__img {
	margin: 0;
	max-width: 34.375rem;
	width: 100%;
}

.p-sub-policy__detail {
	margin-left: 1.875rem;
	padding-top: 1.25rem;
}

.p-sub-policy__detail--number {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1rem;
	margin-bottom: 2.5rem;
	text-align: left;
}

.p-sub-policy__detail--text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-top-blog__title .c-section-title-bg {
	margin-top: -4rem;
	text-align: right;
}

.p-top-blog__contents {
	align-items: center;
	display: flex;
	margin-top: initial;
}

.p-top-blog__btn .c-btn {
	font-size: 1rem;
	padding: 1rem 0.375rem;
}

.p-top-content__inner {
	max-width: 71.875rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-top-content__title .c-section-title-bg {
	margin-top: -2.9375rem;
	text-align: left;
}

.p-top-content__cards {
	margin-top: initial;
}

.p-top-content__card {
	background: #FFFFFF;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: 25%;
}

.p-top-content__card-image {
	cursor: pointer;
	transition-duration: 0.3s;
	width: 100%;
}

.p-top-content__card-image:hover {
	opacity: 0.6;
	transition-duration: 0.3s;
}

.p-top-content__card-image::before {
	padding-top: 99.6875%;
}

.p-top-content__card-title {
	font-size: 1.5625rem;
	max-width: 13.75rem;
}

.p-top-news__inner {
	max-width: 68.25rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-top-news__container {
	align-items: center;
	display: flex;
}

.p-top-news__info {
	margin-right: 3.875rem;
}

.p-top-news__date {
	margin-right: 3rem;
}

.p-top-news__title {
	margin-top: initial;
}

.p-top-news__btn {
	margin-right: initial;
	margin-top: initial;
	max-width: 8.5625rem;
}

.p-top-service__inner {
	max-width: 71.875rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-top-service__title .c-section-title-bg {
	margin-top: -3.5rem;
	text-align: left;
}

.p-top-service__card {
	align-items: center;
	display: flex;
	margin-top: initial;
	padding-right: 5.625rem;
}

.p-top-service__img {
	margin-left: -16.4375rem;
	max-width: 34.8125rem;
	order: 2;
}

.p-top-service__img::before {
	padding-top: 69.83842%;
}

.p-top-service__body {
	order: 1;
	padding: 7.125rem 18.125rem 7.3125rem 5.5625rem;
	width: 100%;
}

.p-top-service__title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	text-align: left;
}

.p-top-service__text {
	letter-spacing: 0.04em;
	line-height: 2.2;
	margin-top: 2.6875rem;
}

.p-top-service__btn {
	margin-top: 2.875rem;
}

.p-top-service__btn .c-btn {
	font-size: 1rem;
	margin-left: initial;
	padding: 1rem 0.375rem;
}

.p-top-works__inner {
	max-width: 71.875rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-top-works__title .c-section-title-bg {
	margin-top: -3.5625rem;
	text-align: right;
}

.p-top-works__card {
	align-items: center;
	display: flex;
	margin-top: initial;
	padding-left: 5.625rem;
}

.p-top-works__swiper {
	margin-right: -16.4375rem;
	max-width: 34.8125rem;
	width: 100%;
}

.swiper-pagination {
	margin-top: 0.5rem;
	padding-right: 2.5rem;
}

.p-top-works__body {
	padding: 7.125rem 5rem 7.3125rem 18.4375rem;
	width: 100%;
}

.p-top-works__title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	text-align: left;
}

.p-top-works__text {
	letter-spacing: 0.04em;
	line-height: 2.2;
	margin-top: 2.6875rem;
}

.p-top-works__btn {
	margin-top: 3.0625rem;
}

.p-top-works__btn .c-btn {
	font-size: 1rem;
	margin-left: initial;
	padding: 1rem 0.375rem;
}

.p-work-box {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 2.8125rem;
}

.p-work-box:not(:first-child) {
	margin-top: 4.3125rem;
}

.p-work-box__title {
	left: 2.3125rem;
}

.p-work-slider .gallery-slider .swiper-slide::before {
	padding-top: 53.375%;
}

.p-work-slider .gallery-thumbs {
	margin-top: 2.5625rem;
}

.p-work-slider .swiper-button-prev,
.p-work-slider .swiper-button-next {
	height: 3.125rem !important;
	top: 38%;
	width: 3.125rem !important;
}

.p-work-slider .swiper-button-next::after {
	height: 1.25rem;
	transform: rotate(45deg) translate(-0.1875rem, 0.1875rem);
	width: 1.25rem;
}

.p-work-slider .swiper-button-prev::after {
	height: 1.25rem;
	transform: rotate(-135deg) translate(-0.1875rem, 0.1875rem);
	width: 1.25rem;
}

.p-work__inner {
	max-width: 53.125rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-work__title {
	font-size: 1.4375rem;
}

.p-work__info {
	margin-top: 2.75rem;
}

.p-work__slider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	max-width: 50rem;
}

.p-work__box {
	margin-top: 6.25rem;
}

.p-work__psgination {
	margin-top: 6.3125rem;
}

.p-work__relation {
	margin-top: 6.4375rem;
}

}

@media screen and (min-width: 768px) and (min-width: 768px) {

.c-news__btn::before {
	background-color: #333333;
}

.c-news-btn::before {
	background-color: #333333;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1280px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

/* 1.15倍させる指定 */

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

