.about {
  width: 100%;
  padding-top: rem(100);
  padding-bottom: rem(120);
}

.about__contents {
  margin-bottom: rem(120);
}

.about__content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-bottom: rem(20);
  border-bottom: solid 1px $text-color;

  &:not(:first-child) {
    margin-top: rem(17);
  }

  dt,
  dd {
    display: inline-block;
    font-size: rem(13);
  }

  dt {
    width: rem(115);
    padding-left: rem(5);
    line-height: rem(21);
  }

  dd {
    width: calc(100% - #{rem(115)});
    line-height: rem(24);
  }
}

.about__map {
  padding-top: 89.5%;
  position: relative;
  margin-left: calc((50vw - 50%) * -1);
  margin-right: calc((50vw - 50%) * -1);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
