// 下層ページのメインビジュアル
.p-about-mainvisual {
  background: url(/images/common/aboutPage-MV.png) center center / cover;
  background-repeat: no-repeat;
  z-index: 1;

  @include mq(tab) {
    background: url(/images/common/aboutPage-MVPC.png) center center / cover;
  }
}