// 下層ページのメインビジュアル
.blog-mainvisual {
  background: url(/images/common/blogPage-MV.png) center center / cover;
  background-repeat: no-repeat;
  z-index: 1;

  @include mq(tab) {
    background: url(/images/common/blogPage-MVPC.png) center center / cover;
  }
}

// Blog以下CSS

.blog-under {
  padding-top: rem(85);
  padding-bottom: rem(120);
}

.blog-under__category {
  margin-bottom: rem(21);
}

.blog-category {
}

.blog-under__contents {
  margin-bottom: rem(83);

  @include mq(tab) {
    margin-bottom: rem(80);
  }
}

.p-blog__contents {
}

.blog-under__pagination {
}
