// Blog以下CSS
.p-blog-under {
  padding-top: rem(85);
  padding-bottom: rem(120);
}

.p-blog-under__category {
  margin-bottom: rem(21);
}

.blog-category {
}

.p-blog-under__contents {
  margin-bottom: rem(83);

  @include mq(tab) {
    margin-bottom: rem(80);
  }
}

.p-blog__contents {
}

.p-blog-under__pagination {
}
