.p-contact {
    background-color: $background-color;
    
}

.p-contact__container {
    max-width: rem(1100);
    width: 100%;
    padding: rem(20) 0 rem(65);

    @include mq(tab) {
        padding: rem(57) 0 rem(150);
    }
}


.p-contact__text {
    padding: rem(20) 0 rem(40);

    @include mq(tab) {
        max-width: rem(715);
        width: 100%;
        margin: auto;
        padding: rem(15) 0 rem(60);
    }
}

.p-contact-mainvisual {
    background: url(/images/common/contact-mv-sp.png) center center / cover;
    background-repeat: no-repeat;
    z-index: 1;
  
    @include mq(tab) {
      background: url(/images/common/contact-mv-pc.png) center center / cover;
    }
  }