.p-news__container {
    max-width: rem(600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(tab) {
        max-width: rem(1042);
        display: flex;
        vertical-align: middle;
        position: relative
    }
}