.p-top-works__inner {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include mq(tab) {
    max-width: rem(1150);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-top-works__title {
  text-align: center;
}

.p-top-works__title .c-section-title-bg {
  margin-top: rem(-63);
  @include mq(tab) {
    text-align: left;
  }
}

.p-top-works__card {
  margin-top: rem(66);
  @include mq(tab) {
    margin-top: initial;
  }
}

.p-top-works__img {
	width: 100%;
	position: relative;
}

.p-top-works__img::before {
	content: "";
	display: block;
	padding-top: 69.6%; //高さ/幅*100
}

.p-top-works__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
}

.p-top-works__body {
  background-color: $background-color;
  padding: rem(28) rem(20) rem(21) rem(20);
}

.p-top-works__title {
  text-align: center;
  line-height: 1;
  letter-spacing: 0.2em;
}

.p-top-works__text {
  margin-top: rem(29);
  letter-spacing: 0.12em;
  line-height: 1.45;
}

.p-top-works__btn {
  margin-top: rem(25);
}