.p-work-slider {
  position: relative;

  //メイン
  .gallery-slider {
    width: 100%;
    height: auto;

    .swiper-slide {
      width: 100%;
      position: relative;
    }

    .swiper-slide::before {
      content: "";
      display: block;
      padding-top: 67.2463%; //高さ/幅*100
      @include mq(tab) {
        padding-top: 53.375%;
      }
    }

    .swiper-slide img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  //サムネイル
  .gallery-thumbs {
    margin-top: rem(32);
    width: 100%;
    padding: 0;
    overflow: hidden;
    @include mq(tab) {
      margin-top: rem(41);
    }

    .swiper-slide::before {
      content: "";
      display: block;
      padding-top: 100%; //高さ/幅*100
    }

    .swiper-slide img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: rem(30) !important;
    height: rem(30) !important;
    background-color: #000;
    border-radius: 50%;
    margin-top: -24px;
    top: 30%;
    @include mq(tab) {
      width: rem(50) !important;
      height: rem(50) !important;
      top: 38%;
    }
  }
  /* 次ページボタンのスタイル */
  .swiper-button-next::after {
    width: rem(11);
    height: rem(11);
    border-top: 2px solid #ffea2e;
    border-right: 2px solid #ffea2e;
    transform: rotate(45deg) translate(rem(-2), rem(0));
    @include mq(tab) {
      width: rem(20);
      height: rem(20);
      transform: rotate(45deg) translate(rem(-3), rem(3));
    }
  }
  /* 前ページボタンのスタイル */
  .swiper-button-prev::after {
    width: rem(11);
    height: rem(11);
    border-top: 2px solid #ffea2e;
    border-right: 2px solid #ffea2e;
    transform: rotate(-135deg) translate(rem(0), rem(1));
    @include mq(tab) {
      width: rem(20);
      height: rem(20);
      transform: rotate(-135deg) translate(rem(-3), rem(3));
    }
  }
}
