<div class="c-contact-details__head">
    <span class="c-contact-details__require">※</span>
    <p class="c-contact-details__title"><%= text %></p><!-- /p-contact__title -->
</div><!-- /p-contact__head -->