<div class="c-category">
  <ul class="c-category__items">
    <li class="c-category__item"><a href="">ALL</a></li><!-- /.c-category__item -->
    <li class="c-category__item"><a href="">カテゴリ１</a></li><!-- /.c-category__item -->
    <li class="c-category__item"><a href="">カテゴリカテゴリ</a></li><!-- /.c-category__item -->
    <li class="c-category__item"><a href="">カテ</a></li><!-- /.c-category__item -->
  </ul><!-- /.c-category__items -->
</div><!-- /.c-category -->