<div class="c-contact-details__headTextarea">
    <span class="p-contact-details__require">※</span>
    <p class="p-contact-details__title"><%= text %></p><!-- /p-contact__title -->
</div><!-- /p-contact__head -->