<div class="pagination l-pagination">
  <a href="" class="pagination__link pagination__link--previous">PREV</a><!-- /.previouspostslink -->
  <a href="" class="pagination__page pagination__page--smaller">1</a><!-- /.pagination__page smaller -->
  <span class="pagination__page pagination__page--current">2</span><!-- /.current -->
  <a href="" class="pagination__page pagination__page--larger">3</a><!-- /.pagination__page pagination__page--larger -->
  <a href="" class="pagination__page pagination__page--larger">4</a><!-- /.pagination__page pagination__page--larger -->
  <a href="" class="pagination__link pagination__link--next">NEXT</a><!-- /.nextpostslink -->
</div><!-- /.pagination -->