<div class="pagination l-pagination">
  <a href="" class="pagination__link pagination__link--previous">PREV</a><!-- /.previouspostslink -->
  <a href="" class="pagination__page pagination__page--center">一覧</a><!-- /.pagination__page smaller -->
  <a href="" class="pagination__link pagination__link--next">NEXT</a><!-- /.nextpostslink -->
</div><!-- /.pagination -->