<div class="l-portfolio-card">
  <a href="<% portfolio__link %>" class="c-portfolio-card">
    <div class="c-portfolio-card__img">
      <img src="<%= img %> " alt="<%= img__alt %> " />
    </div>
    <!-- /.c-portfolio-card__img -->
    <div class="c-portfolio-card__name"><%= portfolio__name %></div>
    <!-- /.c-portfolio-card__contents -->
    <div class="c-portfolio-card__category">
      <%= portfolio__category %>
    </div>
    <!-- /.c-portfolio-card__category --> 
  </a><!-- /.c-portfolio-card -->
</div>
<!-- /.l-portfolio-card -->
