<div class="p-content">
  <div class="p-content__inner">
    <div class="p-content__title">
      <%- include('./_c-section-title', {text:'事業内容'}) %>
      <%- include('./_c-section-title-bg', {text:'Content'}) %>
    </div>
  </div>
  <ul class="p-content__cards">
    <li class="p-content__card">
      <a href="#">
        <div class="p-content__card-image">
          <img src="./images/common/servicePage-MV.png" alt="">
        </div><!-- /p-content__card-image -->
        <div class="p-content__card-title">
          <p>経営理念ページへ</p>
        </div><!-- /p-content__card-title -->
      </a>
    </li><!-- /p-content__card -->
    <li class="p-content__card">
      <a href="#">
        <div class="p-content__card-image common__image">
          <img src="./images/common/business-policy-1.png" alt="">
        </div><!-- /p-content__card-image -->
        <div class="p-content__card-title">
          <p>理念1へ</p>
        </div><!-- /p-content__card-title -->
      </a>
    </li><!-- /p-content__card -->
    <li class="p-content__card">
      <a href="#">
        <div class="p-content__card-image">
          <img src="./images/common/business-policy-2.png" alt="">
        </div><!-- /p-content__card-image -->
        <div class="p-content__card-title">
          <p>理念2へ</p>
        </div><!-- /p-content__card-title -->
      </a>
    </li><!-- /p-content__card -->
    <li class="p-content__card">
      <a href="#">
        <div class="p-content__card-image">
          <img src="./images/common/business-policy-3.png" alt="">
        </div><!-- /p-content__card-image -->
        <div class="p-content__card-title">
          <p>理念3へ</p>
        </div><!-- /p-content__card-title -->
      </a>
    </li><!-- /p-content__card -->
  </ul><!-- /p-content__cards -->
</section>