<div class="p-top-news">
  <div class="p-top-news__inner l-inner">
    <div class="p-top-news__container">
      <div class="p-top-news__info">
        <div class="p-top-news__date">
          <%- include('../parts/_c-news-date',{text:'2020.07.20'}) %>
        </div>
        <div class="p-top-news__tag">
          <%- include('../parts/_c-news-tag',{text:'お知らせ'}) %>
        </div>
      </div>
      <div class="p-top-news__title">
        <%- include('../parts/_c-news-title',{title:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-top-news__btn">
        <%- include('../parts/_c-news-btn',{text:'すべて見る', link:'news_yuichi.html'}) %>
      </div>
    </div>
  </div>
</div>