<div class="p-top-works">
  <div class="p-top-works__inner">
    <div class="p-top-works__title">
      <%- include('./_c-section-title', {text:'制作実績'}) %>
        <%- include('./_c-section-title-bg', {text:'Works'}) %>
    </div>
  </div>
  <div class="p-top-works__card">
    <div class="p-top-works__swiper swiper1">
      <div class="p-top-works__container swiper-wrapper">
        <figure class="p-top-works__img swiper-slide">
          <img src="../images/common/img_top-works1.jpg" alt="">
        </figure>
        <figure class="p-top-works__img swiper-slide">
          <img src="../images/common/img_top-works2.jpg" alt="">
        </figure>
        <figure class="p-top-works__img swiper-slide">
          <img src="../images/common/img_top-works3.jpg" alt="">
        </figure>
      </div>
      <div class="p-top-works__pagination swiper-pagination"></div>
    </div>
    <div class="p-top-works__body">
      <h3 class="p-top-works__title">メインタイトルが入ります。</h3>
      <p class="p-top-works__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <div class="p-top-works__btn">
        <%- include('./_c-btn',{text:'詳しく見る', link:'service_yoshitaka.html'}) %>
      </div>
    </div>
  </div>
</div>