<div class="p-work-slider">
  <!-- メイン -->
  <div class="gallery-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../images/work/img_work1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work6.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work7.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work8.jpg" alt=""></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <!-- サムネイル -->
  <div class="gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../images/work/img_work1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work6.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work7.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../images/work/img_work8.jpg" alt=""></div>
    </div>
  </div>
</div>