<div class="p-mv swiper mySwiper js-mainVisual">
    <div class="swiper-wrapper">
       <!-- 背景画像１ -->
       <div class="swiper-slide">
          <div class="slide-img">
              <img src="./images/common/main-visual1.jpg" alt="">
          </div>
          <div class="p-mv__titles">
            <h1 class="p-mv__title">メインタイトルが入ります</h1><!-- /p-mv__title -->
            <h2 class="p-mv__subtitle">サブタイトルが入ります</h2><!-- /p-mv__subtitle -->
          </div><!-- /p-mv__titles -->
       </div>
       <!-- 背景画像２ -->
       <div class="swiper-slide">
            <div class="slide-img">
                <img src="./images/common/main-visual2.jpg" alt="">
            </div>          
            <div class="p-mv__titles">
                <h1 class="p-mv__title">メインタイトルが入ります</h1><!-- /p-mv__title -->
                <h2 class="p-mv__subtitle">サブタイトルが入ります</h2><!-- /p-mv__subtitle -->
            </div><!-- /p-mv__titles -->
       </div>
       <!-- 背景画像３ -->
       <div class="swiper-slide">
            <div class="slide-img">
                <img src="./images/common/main-visual3.jpg" alt="">
            </div>          
            <div class="p-mv__titles">
                <h1 class="p-mv__title">メインタイトルが入ります</h1><!-- /p-mv__title -->
                <h2 class="p-mv__subtitle">サブタイトルが入ります</h2><!-- /p-mv__subtitle -->
            </div><!-- /p-mv__titles -->
       </div>
    </div>
  </div>